= select_tag 'q[calendar_country_eq]', options_for_select(BookingTool::AppointmentsHelper::CITIES, params[:q]&.dig(:calendar_country_eq)),
             { prompt: 'select location', class: 'form-control', id: 'location-id'}

= text_field_tag 'q[created_on_gteq]', params[:q]&.dig(:created_on_gteq), placeholder: 'start yyyy-mm-dd', autocomplete: :off, class: 'form-control',
                  data: { provide: 'datepicker', 'date-format': 'yyyy-mm-dd' }

= text_field_tag 'q[created_on_lteq]', params[:q]&.dig(:created_on_lteq), autocomplete: :off, placeholder: 'end yyyy-mm-dd',
                  class: 'form-control', data: { provide: 'datepicker', 'date-format': 'yyyy-mm-dd' }

= select_tag 'q[order_tool_outfitter_id_eq]', options_for_select(User.all.map { |user| [user.full_name, user.id] }, params[:q]&.dig(:order_tool_outfitter_id_eq)),
                  include_blank: 'Please select outfitter', class: 'form-control'

= text_field_tag 'q[contact_first_name_cont]', params[:q]&.dig(:contact_first_name_cont), placeholder: 'Customer First Name', class: 'form-control', size: 17

= text_field_tag 'q[contact_last_name_cont]', params[:q]&.dig(:contact_last_name_cont), placeholder: 'Customer Last Name', class: 'form-control', size: 17

= text_field_tag 'q[contact_phone_eq]', params[:q]&.dig(:contact_phone_eq), placeholder: 'Phone Number', class: 'form-control', size: 11

= text_field_tag 'q[contact_email_eq]', params[:q]&.dig(:contact_email_eq), placeholder: 'Customer Email', class: 'form-control', size: 25

= hidden_field_tag 'order', 'created_at desc'
= submit_tag 'Filter', class: 'btn btn-info btn-squares'
= link_to 'Clear', booking_tool_appointments_path(scope: :dropped), data: { target: 'dropped-table' }, class: 'btn btn-danger btn-square'
