%h1 
  = "Dear #{@author.first_name},"

%p 
  = "#{@submitter.name} just submitted an alteration for #{@customer.email}. You submitted his measurements on #{@customer.profile.created_at.strftime('%B %d, %Y %H:%M')}."

%p 
  See the submitted alteration 
  %a{ href: customer_url(@customer) } here.
